body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
   
}

header {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #9c7d7d;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #000000;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
