/* CSS styles for registration page */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: rgba(0, 0, 0, 0.7); /* Add opacity to the background color */
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.registration-form {
    background-color: #926c6c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #a07d7d;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #9c7f7f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
}


#img{
    position: fixed;
    background-repeat: no-repeat;
    z-index: -1;
    height: 1500px;
    width: 1500px;
}